//variable declaration
@themeColor: #9dd5f4;
@background: #E3E6E3;
@themeTextColor: #4d4df2; 
@redColor: #d11a1a;

body {
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: @background;
    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .site-layout {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    .background-blue {
        background-color: @themeColor !important;
        #navbarCollapse {
            .dropdown-menu {
                .dropdown-item {
                    font-size: 13px;
                }
            }
        }
    }
    .main-content {
        background-color: #fff;
        max-height: 100%;
        padding: 25px;
        .team-info {
            text-align: center;
            padding: 10px;
            a{
                text-decoration: none;
                color: inherit;
                .team-logo {
                    img {
                        width: 125px;
                        height: 100px;
                    }
                }
            }
        }
        .format-rankings {
            text-align: center;
            padding: 5px;
            .team-format {
                font-weight: 100;
                width: 50%;
                border-radius: 15px;
                padding: 1px;
                cursor: pointer;
            }
            .team-format:hover {
                background: @themeColor;
                color: @themeTextColor;
            }
            .team-name-ranking {
                display: flex;
                width: 135px;
                justify-content: space-evenly;
                height: 35px;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
            .table {
                margin-top: 20px;
            }
        }
        .league-info {
            text-align: center;
            padding: 10px;
            a{
                text-decoration: none;
                color: inherit;
                .league-logo {
                    img {
                        width: 125px;
                        height: 100px;
                    }
                }
            }
        }
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            overflow-x: auto;
        }
    }
    .color-switch-active {
        background: @themeColor;
        color: @themeTextColor;
    }
    .color-switch-inactive {
        background: @background;
    }
    .error-msg {
        color: @redColor;
    }
}
