//variable declaration
@themeColor: #9dd5f4;
@background: #E3E6E3;
@themeTextColor: #3988ff; 
@redColor: #d11a1a;
@themeInheritColor: rgba(0,0,0,.55);

body {
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: @background;
    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .site-layout {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
    .background-blue {
        background-color: @themeColor !important;
        #navbarCollapse {
            .dropdown-menu {
                .dropdown-item {
                    font-size: 13px;
                }
            }
        }
    }
    .main-content {
        background-color: #fff;
        min-height: 583px;
        padding: 25px;
        .main-div {
            padding-left: 10px;
            padding-right: 10px;
            .league-info {
                text-align: center;
                padding: 10px;
                .league-info-url{
                    text-decoration: none;
                    color: @themeInheritColor;
                    .league-logo {
                        text-align: center;
                        padding: 5px;
                        img {
                            width: 125px;
                            height: 100px;
                        }
                    }
                }
            }
            .season-list {
                padding: 5px;
                a {
                    text-decoration: underline;
                    color: @themeInheritColor;
                }
            }
            .season-teams {
                .season-name {
                    color: @themeTextColor;
                    padding-bottom: 10px;
                    span {
                        color: @themeInheritColor;
                    }
                }
                .league-info-url{
                    text-decoration: none;
                    color: @themeInheritColor;
                    .league-logo {
                        padding: 5px;
                        width: 150px;
                        text-align: center;
                        img {
                            width: 125px;
                            height: 100px;
                        }
                    }
                }
                .season-team-info {
                    text-align: center;
                    padding: 10px;
                    .teams-list {
                        text-decoration: none;
                        color: @themeInheritColor;
                        .team-logo {
                            img {
                                width: 125px;
                                height: 100px;
                            }
                        }
                    }
                }
            }
            .team-squads{
                .squad-season-name {
                    color: @themeTextColor;
                    padding-bottom: 10px;
                    span {
                        color: @themeInheritColor;
                    }
                }
                .single-team-info {
                    text-decoration: none;
                    color: @themeInheritColor;
                    .single-team-logo {
                        padding: 5px;
                        width: 150px;
                        text-align: center;
                        img {
                            width: 150px;
                            height: 100px;
                        }
                    }
                }
                .squad-info {
                    text-align: center;
                    padding: 10px;
                    a {
                        text-decoration: none;
                        color: @themeInheritColor;
                        .squad-logo {
                            img {
                                width: 80px;
                                height: 70px;
                            }
                        }
                    }
                }
            }
            .team-info {
                text-align: center;
                padding: 10px;
                a{
                    text-decoration: none;
                    color: @themeInheritColor;
                    .team-logo {
                        img {
                            width: 125px;
                            height: 100px;
                        }
                    }
                }
            }
            .format-rankings {
                text-align: center;
                padding: 5px;
                .team-format {
                    font-weight: 100;
                    width: 50%;
                    border-radius: 15px;
                    padding: 1px;
                    cursor: pointer;
                }
                .team-format:hover {
                    background: @themeColor;
                    color: @themeTextColor;
                }
                .team-name-ranking {
                    text-align: left;
                    width: 135px;
                    height: 35px;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .table {
                    margin-top: 20px;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            overflow-x: auto;
        }
    }
    .color-switch-active {
        background: @themeColor;
        color: @themeTextColor;
    }
    .color-switch-inactive {
        background: @background;
    }
    .error-msg {
        color: @redColor;
    }
    .heading {
        font-weight: bold;
        font-size: 20px;
        color: @themeTextColor;
        span {
            color: @themeInheritColor;
            font-size: 16px;
        }
        a {
            text-decoration: none;
            float: right;
            background-color: @themeColor;
            width: 150px;
            font-size: 14px;
            color: @themeTextColor;
            text-align: center;
            border-radius: 10px;
            padding: 5px;
        }
    }
}
